<!-- app/views/passengers/landing_page.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Railway Ticketing System</title>
</head>
<body>
<h1>Welcome to Railway Ticketing System</h1>
<p>Choose an option:</p>
<ul>
  <li><%= link_to "Login", userlogin_url%></li>
  <li><%= link_to "Signup", new_passenger_url %></li>

</ul>
</body>
</html>
